.t-show {
  text-align: center;
}

.t-show__image img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.t-show__cast {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.t-person {
  width: 160px;
}

.t-person p {
  text-align: center;
  font-size: 14px;
}

.t-person__image {
  padding: 5px;
  overflow: hidden;
}

.t-person__image img {
  display: block;
  width: 100%;
}
